<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- determines translation method used by the translation cloud 
         available options are:
         - "ServiceDefault" - allows the service to decide what method to use
         - "Base" - cheap, less accurate
         - "NeuralMachineTranslation" - expensive, more accurate -->
    <add key="TranslationMethod" value="NeuralMachineTranslation"/>

    <!-- language detection is not 100% reliable and result is always returned with additional
         confidence value. Here we can set a threshold from which application 
         should consider the result to be valid. 
         Available options:
         - "API_default" - let Google decide what is a reliable result and what is not
         - "<value from 0 to 1 inclusive>" - manually set the threshold (i.e. 0,3) -->
    <add key="LanguageDetectionThreshold" value="0,5"/>
  </appSettings>
</configuration>