<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- determines translation method used by the translation cloud 
         available options are:
         - "ServiceDefault" - allows the service to decide what method to use
         - "Base" - cheap, less accurate
         - "NeuralMachineTranslation" - expensive, more accurate-->
    <add key="TranslationMethod" value="NeuralMachineTranslation"/>
  </appSettings>
</configuration>